.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrap .item {
  padding: 20px;
  flex-basis: 200px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

/* 일반 css명칭으로 사용 */
:global .inner {
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}
:global .input-control{
  width: 100%;
  border: 1px solid #777;
  border-radius: 0;
  padding: 5px;
  box-sizing: 5px;
}